/*.repeated-element.ng-enter {
    transition: all linear 500ms;
    opacity: 0;
    transform: translate3d(-100px, 0, 0);
}
.repeated-element.ng-enter-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}
.repeated-element.ng-leave {
    transition: all linear 500ms;
    opacity: 1;
    transform: translate3d(0, 0, 0);
}
.repeated-element.ng-leave-active {
    opacity: 0;
    transform: translate3d(100px, 0, 0);
}*/

.repeated-element {
    transition: all linear 500ms;
}

.repeated-element.ng-enter {
    transform: scale(0.1);
}

.repeated-element.ng-enter-active {
    transform: scale(1);
}

.repeated-element.ng-leave-active {
    transform: scale(0.1);
}