<div class="modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content success">
            <div class="modal-header">
                <i class="glyphicon glyphicon-ok-circle"></i>&nbsp;Success
                <button type="button" class="close" ng-click="layoutCtrl.closeModalSuccess()">&times;</button>
            </div>
            <div class="modal-body">
                <p>{{body}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" autofocus ng-click="layoutCtrl.closeModalSuccess()">Ok</button>
            </div>
        </div>
    </div>
</div>