<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="main-panel-title">New Product</h3>
    </div>
    <div class="main-panel-body">
        <form class="form-horizontal">
            <div class="form-group" ng-hide="newProductCtrl.generalMessages.length === 0">
                <div class="col-md-10">
                    <span class="form-control alert alert-danger big-message">
                        <ul>
                            <li ng-repeat="message in newProductCtrl.generalMessages track by $index">
                                {{message}}
                            </li>
                        </ul>
                    </span>
                </div>
            </div>
            <div class="form-group has-feedback" ng-class="{ 'has-error': newProductCtrl.messageName.length > 0, 
                 'has-success': newProductCtrl.messageName !== null && newProductCtrl.messageName.length === 0 }">
                <label class="col-md-2 control-label">Name</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="name" ng-model="newProductCtrl.product.name" 
                    ng-keyup="newProductCtrl.validate('name')" />
                    <i class="glyphicon glyphicon-ok form-control-feedback"></i>
                    <i class="glyphicon glyphicon-remove form-control-feedback"></i>
                </div>
                <div ng-hide="!newProductCtrl.messageName" class="col-md-4 message">
                    <span class="form-control alert alert-danger big-message">
                        {{newProductCtrl.messageName}}
                    </span>
                </div>
            </div>
            <div class="form-group has-feedback" ng-class="{ 'has-error': newProductCtrl.messageQuantity.length > 0, 
                 'has-success': newProductCtrl.messageQuantity !== null && newProductCtrl.messageQuantity.length === 0 }">
                <label class="col-md-2 control-label">Quantity</label>
                <div class="col-md-4">            
                    <input type="text" class="form-control" name="quantity" ng-model="newProductCtrl.product.quantity" 
                    ng-keyup="newProductCtrl.validate('quantity')" />
                    <i class="glyphicon glyphicon-ok form-control-feedback"></i>
                    <i class="glyphicon glyphicon-remove form-control-feedback"></i>
                </div>
                <div ng-hide="!newProductCtrl.messageQuantity" class="col-md-4 message">
                    <span class="form-control alert alert-danger big-message">
                        {{newProductCtrl.messageQuantity}}
                    </span>
                </div>
            </div>
            <div class="form-group has-feedback" ng-class="{ 'has-error': newProductCtrl.messagePrice.length > 0, 
                 'has-success': newProductCtrl.messagePrice !== null && newProductCtrl.messagePrice.length === 0 }">
                <label class="col-md-2 control-label">Price</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="text" class="form-control" name="price" placeholder="00.00" ng-model="newProductCtrl.product.price" 
                        ng-keyup="newProductCtrl.validate('price')" />
                    </div>
                    <i class="glyphicon glyphicon-ok form-control-feedback"></i>
                    <i class="glyphicon glyphicon-remove form-control-feedback"></i>
                </div>
                <div ng-hide="!newProductCtrl.messagePrice" class="col-md-4 message">
                    <span class="form-control alert alert-danger big-message">
                        {{newProductCtrl.messagePrice}}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-success" ng-click="newProductCtrl.save()" 
                    ng-disabled="newProductCtrl.messageName === null || newProductCtrl.messageQuantity === null 
                    || newProductCtrl.messagePrice === null || newProductCtrl.messageName.length > 0 
                    || newProductCtrl.messageQuantity.length > 0 || newProductCtrl.messagePrice.length > 0">
                        <i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;Save
                    </button>
                    <button type="button" class="btn btn-danger btn-reset" ng-click="newProductCtrl.reset()">
                        <i class="glyphicon glyphicon-remove"></i>&nbsp;Clear
                    </button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <a href="/products" class="btn btn-default">
                        <i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Back to list
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>